---
# 1. 셋 (set)
- 중괄호{} 안에 서로 다른 자료형의 유일한 값을 콤마로 구분
- 인덱스를 제공하지 않음 = 순서의 개념이 없음
- **중복되지 않는** 데이터를 만들기 위해 사용하는 자료구조

## 1.1 셋 생성

In [4]:
data = {10, 20, "python", "python"}
print(data)

data = set(range(10, 21, 2))
print(data)

data = set("Better Tommorow")   # {'o', 'T', 'e', ' ', 'B', 't', 'r', 'w', 'm'}
print(data)                     # 순서의 개념이 없어짐

{'python', 10, 20}
{10, 12, 14, 16, 18, 20}
{'o', 'T', 'e', ' ', 'B', 't', 'r', 'w', 'm'}

## 1.2 셋 기본 연산

In [7]:
set1 = {1, 2, 2, 3, 4, 4, 5, 6, 7, 7, 7, 11}
set2 = {2, 3, 5, 9, 11, 12, 15}
print(set1)
print(set2)
print("")

print(set1 & set2)
print(set1 | set2)
print(set1 - set2)
print("")

print(set1.intersection(set2))
print(set1.union(set2))
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 7, 11}
{2, 3, 5, 9, 11, 12, 15}

{11, 2, 3, 5}
{1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 15}
{1, 4, 6, 7}

{11, 2, 3, 5}
{1, 2, 3, 4, 5, 6, 7, 9, 11, 12, 15}
{1, 4, 6, 7}

## 1.3 셋 항목 추가

In [11]:
data = {1, 2, 3}
data.add(3)
data.add(4)
print(data)

data = {1, 2, 3}
data.update({4, 5})
print(data)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

## 1.4 셋 항목 제거

In [18]:
data = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
data.remove(9)
data.remove(2)
#data.remove(11)  # 없는 값을 제거하려하면 KeyError 발생
print(data)

data = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(data.pop(), data)    # 셋의 첫 번째 항목 제거

data.clear()
print(data)

{1, 3, 4, 5, 6, 7, 8, 10}
1 {2, 3, 4, 5, 6, 7, 8, 9, 10}
set()

## 1.5 셋 항목 확인

In [20]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

print(3 in set1)
print(6 not in set1)
print("")

print(set1.issuperset(set2))
print(set1.issubset(set2))
print("")

True
True

True
False

## 1.6 셋 for 문

In [21]:
data = set(range(0, 11, 2))
for i, item in enumerate(data):
    print(i, item)

0 0
1 2
2 4
3 6
4 8
5 10

## 1.7 셋 내포

In [22]:
set1 = {1, 2, 3, 4, 5}
set2 = {n for n in set1 if n%2 == 0}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{2, 4}

## 1.8 리스트, 튜플, 셋 변환

In [23]:
a = "Hello"
print(list(a))
print(tuple(a))
print(set(a))

['H', 'e', 'l', 'l', 'o']
('H', 'e', 'l', 'l', 'o')
{'l', 'o', 'H', 'e'}

---
# 2. 딕셔너리
- 중괄호{} 안에 **키: 값** 형식의 유일한 데이터를 콤마로 구분
- 인덱스를 제공하지 않음 = 순서의 개념이 없음
- **중복되지 않는** 데이터를 만들기 위해 사용하는 자료구조

## 2.1 딕셔너리 생성

In [26]:
data = {
    "홍길동" : 20,
    "이순신" : 45,
    "강감찬" : 35
}
print(data)

data = dict(홍길동=20, 이순신=45, 강감찬=35)  # 키를 문자열로 입력하지 않도록 주의
print(data)

{'홍길동': 20, '이순신': 45, '강감찬': 35}
{'홍길동': 20, '이순신': 45, '강감찬': 35}

In [27]:
data_tuple = (("홍길동", 20), ("이순신", 45), ("강감찬", 35))
data_dict = dict(data_tuple)
print(data_dict)

data_list = [("홍길동", 20), ("이순신", 45), ("강감찬", 35)]
data_dict = dict(data_list)
print(data_dict)

data_set = {("홍길동", 20), ("이순신", 45), ("강감찬", 35)}
data_dict = dict(data_set)
print(data_dict)

{'홍길동': 20, '이순신': 45, '강감찬': 35}
{'홍길동': 20, '이순신': 45, '강감찬': 35}
{'홍길동': 20, '이순신': 45, '강감찬': 35}

## 2.2 딕셔너리 항목 접근

In [28]:
data_dict = {
    "홍길동" : 20,
    "이순신" : 45,
    "강감찬" : 35
}
print(data_dict["홍길동"], data_dict["이순신"], data_dict["강감찬"])

20 45 35

## 2.2 딕셔너리 항목 추가

In [30]:
data_dict = {
    "홍길동" : 20,
    "이순신" : 45,
    "강감찬" : 35
}
data_dict["을지문덕"] = 40   # 중복되지 않는 키에 대한 값을 정의
print(data_dict)

{'홍길동': 20, '이순신': 45, '강감찬': 35, '을지문덕': 40}

## 2.3 딕셔너리 항목 변경

In [32]:
data_dict = {
    "홍길동" : 20,
    "이순신" : 45,
    "강감찬" : 35
}
data_dict["강감찬"] = 40   # 중복되는 키에 새로운 값을 정의
print(data_dict)

data_dict = {
    "홍길동" : 20,
    "이순신" : 45,
    "강감찬" : 35
}
data_dict.update({"홍길동": 25, "이순신": 48})
print(data_dict)

{'홍길동': 20, '이순신': 45, '강감찬': 40}
{'홍길동': 25, '이순신': 48, '강감찬': 35}

## 2.4 딕셔너리 항목 제거

In [33]:
data_dict = {
    "홍길동" : 20,
    "이순신" : 45,
    "강감찬" : 35
}
del data_dict["강감찬"]
print(data_dict)

data_dict = {
    "홍길동" : 20,
    "이순신" : 45,
    "강감찬" : 35
}
data_dict.pop("이순신")
print(data_dict)

{'홍길동': 20, '이순신': 45}
{'홍길동': 20, '강감찬': 35}

## 2.4 딕셔너리 항목 확인

In [34]:
data_dict = {
    "홍길동" : 20,
    "이순신" : 45,
    "강감찬" : 35
}
print("홍길동" in data_dict)
print("이순신" not in data_dict)

True
False

## 2.5 딕셔너리 for 문

In [35]:
data_dict = {
    "홍길동" : 20,
    "이순신" : 45,
    "강감찬" : 35
}
for key in data_dict.keys():
    print(key)

for val in data_dict.values():
    print(val) 
    
for key, val in data_dict.items():
    print(key, val)

홍길동
이순신
강감찬
20
45
35
홍길동 20
이순신 45
강감찬 35

## 2.6 딕셔너리 내포

In [36]:
data_dict = {
    "홍길동" : 20,
    "이순신" : 45,
    "강감찬" : 35
}

data_dict2 = {key: val for (key, val) in data_dict.items()}
print(data_dict2)

{'홍길동': 20, '이순신': 45, '강감찬': 35}

## 2.7 딕셔너리 value 기준 정렬

In [46]:
data_dict = {
    "홍길동" : 20,
    "이순신" : 45,
    "강감찬" : 35
}

data_list = sorted(data_dict.items(), key=lambda items: items[1], reverse=True)
print(data_list)

[('이순신', 45), ('강감찬', 35), ('홍길동', 20)]